<!-- Navigation -->
<nav id="mainNav" class="navbar navbar-default navbar-fixed-top">
    <div class="container-fluid">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header brand-logo">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse"
                    data-target="#rocketbase-navbar">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="/en/">rocketbase.io</a>
        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="rocketbase-navbar">
            <ul class="nav navbar-nav navbar-right">
                <li>
                    <a href="team-skills.html">Team & Skills</a>
                </li>
                <li>
                    <a href="philosophy.html">Philosophy</a>
                </li>
                <li>
                    <a href="services.html">Services</a>
                </li>
                <li class="only-in-none-collapse">
                    <a class="page-scroll" href="#contact">Contact</a>
                </li>
                <li class="only-in-collapse">
                    <a href="imprint.html">Imprint</a>
                </li>
                <li>
                    <a href="../" title="Website in german"><i class="fa fa-language" aria-hidden="true"></i> DE</a>
                </li>
            </ul>
        </div>
        <!-- /.navbar-collapse -->
    </div>
    <!-- /.container-fluid -->
</nav>