<!-- footer -->
<footer id="footer">
    <div class="container">
        <div class="collapse navbar-collapse" id="footer-nav">
            <ul class="nav navbar-nav navbar-right">
                <li class="page-scroll"><a href="#"><i class="fa fa-copyright"></i> {{formatDate root.buildDate "yyyy"}} rocketbase.io</a></li>
                <li class="page-scroll"><a href="impressum.html">Impressum</a></li>
                <li class="page-scroll"><a href="datenschutz.html">Datenschutzerkl&auml;rung</a></li>
            </ul>
        </div><!-- /.navbar-collapse -->
    </div>
</footer>
<!-- ./footer -->