<section id="contact" class="bg-dark">
    <div class="container">
        <div class="row">
            <div class="col-md-8 col-md-offset-2 text-center">
                <h2 class="section-heading">Wir freuen uns auf Ihr Projekt!</h2>
                <hr class="primary">
                <p>Sind Sie bereit Ihrer Idee Leben einzuhauchen? Großartig!<br>
                    Rufen Sie gerne an oder schreiben Sie uns!</p>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-3 col-xs-6 col-sm-offset-3 text-center">
                <i class="fa fa-phone fa-3x wow bounceIn" style="visibility: visible; animation-name: bounceIn;"></i>
                <p>040 307 757 71</p>
            </div>
            <div class="col-sm-3 col-xs-6 text-center">
                <i class="fa fa-envelope-o fa-3x wow bounceIn" data-wow-delay=".1s"
                   style="visibility: visible; animation-delay: 0.1s; animation-name: bounceIn;"></i>
                <p><a href="mailto:info@rocketbase.io">info@rocketbase.io</a></p>
            </div>
        </div>
    </div>
</section>

<!-- footer -->
<footer id="footer" class="hidden-print">
    <div class="container">
        <div class="collapse navbar-collapse" id="footer-nav">
            <ul class="nav navbar-nav navbar-right">
                <li>
                    <a href="#"><i class="fa fa-copyright"></i> {{formatDate root.buildDate "yyyy"}} rocketbase.io</a>
                </li>
                <li>
                    <a href="impressum.html">Impressum</a>
                </li>
                <li>
                    <a href="datenschutz.html">Datenschutzerkl&auml;rung</a>
                </li>
            </ul>
        </div><!-- /.navbar-collapse -->
    </div>
</footer>
<!-- ./footer -->