<!-- Navigation -->
<nav class="navbar navbar-custom navbar-fixed-top" role="navigation">
    <div class="container">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#top-nav">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="/">
                <div id="rocketbase-logo"></div>
                <span id="rocketbase-name">rocketbase.io</span></a>
        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="top-nav">
            <ul class="nav navbar-nav navbar-right">
                {{#if onepager}}
                    <li class="page-scroll"><a href="#philosphie">Start</a></li>
                    <li class="page-scroll"><a href="#leistung">Leistungen</a></li>
                    <li class="page-scroll"><a href="#technologie">Technologien</a></li>
                    <li class="page-scroll"><a href="#team">Team</a></li>
                    <li class="page-scroll"><a href="#contact">Kontakt</a></li>
                {{else}}
                    <li class="page-scroll"><a href="/">Start</a></li>
                {{/if}}
                <!-- <li class="page-scroll"><a href="blog.html">Blog</a></li> -->
            </ul>
        </div>
        <!-- /.navbar-collapse -->
    </div>
    <!-- /.container-fluid -->
</nav>
<!-- ./navigation -->