---
title:          Philosophy and how we work - rocketbase.io
description:    rocketbase.io brings ideas to fly! We operate with agile software development techniques. We use methods like Kanban and Scrum. All from one hand.
keyword:        Consulting + Development in Hamburg, Java, Spring, Vaadin, AngularJs
---
{{#extend "layout-en"}}

    {{#content "content"}}
        <section class="bg-concrete" id="heading">
            <div class="container">
                <div class="row">
                    <div class="col-sm-8 col-sm-offset-2 text-center">
                        <h1 class="section-heading">Our philosophy</h1>
                        <p class="lead">We bring your idea to fly!</p>
                        <img src="../images/rocketbase-progress-en.png" class="img-responsive img-center">
                    </div>
                </div>
            </div>
        </section>

        <section id="arbeitsweise">
            <div class="container">
                <div class="row">
                    <div class="col-sm-10 col-sm-offset-1">
                        <h2 class="section-heading text-center">The way we work</h2>
                        <hr class="primary">
                        <p class="text-faded">We operate with agile software development techniques. We use methods like Kanban and Scrum.
                            This means for our customers a close involvement in the development process. You can get insights to our development progress at any time.
                        </p>
                        <p>The core of our approach are short iterations, so that our clients
                            any time have the possibility to shape their product ideas or make adjustments.
                        </p>
                        <p>Our software is written from the beginning with automated tests, so that we can
                            guarantee to always have a mature product that can go online.
                            We have a continuous deployment infrastructure, whereby each adjustment immediately is getting deployed on our test environment.</p>
                        <p>We have a number of mature functions
                            covering for example an user management, mobile payment, asset management modules.
                            We can setup prototypes in a very short time. For young startups a huge advantage
                            that decider and investors can convince of your product idea.
                        </p>
                    </div>
                </div>
            </div>
        </section>

        <section id="zielgruppe" class="bg-gray">
            <div class="container">
                <div class="row">
                    <div class="col-sm-10 col-sm-offset-1">
                        <h2 class="section-heading text-center">Main area</h2>
                        <hr class="primary">
                        <p class="text-faded">
                            Our focus is web development, whether in mobile, browser or desktop area.
                            25 years of experience in the development of portal systems and back office systems give us
                            the necessary foresight. We take care of issues such as e-commerce, payment, assets
                            or socialnetwork. Through our activities we had points of contact with various sectors
                            such as marketing, sales and controlling both in large companies and in startups.
                        </p>
                        <p>Cooperations vary from contract labor up to software licenses or participations.
                        </p>
                    </div>
                </div>
            </div>
        </section>

    {{/content}}



    {{#content "customScript"}}
        <script>
            (function (Vivus) {
                new Vivus('idea', {type: 'scenario-sync', duration: 40, forceRender: false, start: 'autostart'});
            })(Vivus);
        </script>
    {{/content}}

{{/extend}}