---
title:          Services - rocketbase.io
description:    rocketbase.io offers everything related to the development, operation and maintenance of software solutions. Everything out of one hand!
keyword:        Design, Consulting, Development, Maintenance, Hosting, Operation, Hamburg
---
{{#extend "layout-en"}}

    {{#content "content"}}

        <header class="desk hidden-print">
            <p class="hidden">Working setup of rocketbase.io - Desk with laptop, external monitor
                Devices ...</p>
            <div class="container header-content">
                <div class="row text-center">
                    <div class="bottom-aligned">
                        <h1 class="section-heading"><span class="text-marked">Services</span></h1>
                        <p class="text-marked">rocketbase.io offers everything related to the development, operation and maintenance of
                            software solutions. Everything out of one hand!
                        </p>
                    </div>
                </div>
            </div>
        </header>

        <section id="services">
            <div class="container services">
                <div class="row vertical-line">
                    <div class="col-md-4 text-center">
                        <div class="box-circle bg-yellow">
                            <img class="img-responsive svg-responsive services"
                                 src="../images/service-consulting.svg"
                             data-height="400" data-width="400"
                             alt="Design & Consulting">
                        </div>
                    </div>

                    <div class="col-md-6">
                        <h2>Design & Consulting</h2>
                        <p>We listen to you and develop the best solution for your project. You will benefit from our huge experience in many
                            areas of online activities.  We've already worked for different industries ranging from telecommunications to online gaming and
                            e-commerce. During the design and consulting-process this influences our recommendations and we like to share our experiences.
                            We offer expertise in the areas like development, UI and marketing. Thanks to our network, we can also extend our knowledge and manpower.
                        </p>

                        <p>Business processes are our daily work - to analyse and optimize these. We promoted companies like Bonprix and Schelbach Home
                            with our expertise and optimized their processes. We have been involved in complex processes
                            as for example the print control of large catalogs or export processes to China.
                        </p>


                        <blockquote class="schelbachhome">
                            Niels hat uns sicher durch die Untiefen der Startup Zeit gelotst. Dadurch können wir jetzt unser
                            Geschäft beliebig skalieren.
                            <cite class="rschneider">Roman Schneider, schelbach home trading</cite>
                        </blockquote>

                        <!--
                        <blockquote class="hamburg-de">
                            Seitdem Niels unsere BI Lösung installiert hat, können wir unseren Vertrieb effizient
                            steuern und unseren Erfolg jederzeit messen.
                            <cite class="schusterius">Thomas Schusterius, hamburg.de</cite>
                        </blockquote>
                        -->
                    </div>
                </div>

                <div class="row vertical-line">
                    <div class="col-md-4 text-center">
                        <div class="box-circle bg-green">
                            <img class="img-responsive svg-responsive services"
                                 src="../images/service-development.svg"
                                 data-height="400" data-width="400"
                                 alt="Development & Maintenance">
                        </div>
                    </div>
                    <div class="col-md-6">
                        <h2>Development & Maintenance</h2>
                        <p>Nice looking and effective UIs are a key factors for the success of modern
                            web applications. We do not only develop good technical solutions for you, we also make
                            UIs that inspire both beginners and professional user thrill .
                            With actual technologies such as Vaadin or AngularJS we develop eyecatchers.
                        </p>


                        <p>Software development is our core business for more than 15 years. By this time we have
                            seen many diffent conceptions in the online world. We can offer each customer indivual solutions.
                            Of course, we do not leave you alone after a successful launch of the software. Maintenance and
                            continuous development let your project stay and grow for lone time. We don't let you alone!
                            Our progress corresponds to the agile software development methods like scrum and canban. This
                            allows us to very quickly respond to your requests.
                        </p>


                        <blockquote class="bonprix">
                            Zusammen mit Marten haben wir eine grafische Sortiments-Visualisierung entwickelt.
                            Aufwendige Reports und Ausdrucke gehören jetzt der Vergangenheit an.
                            <cite class="globisch">Lars Globisch, bonprix Handelsgesellschaft mbH</cite>
                        </blockquote>

                    </div>
                </div>

                <div class="row">
                    <div class="col-md-4 text-center">
                        <div class="box-circle bg-blue">
                            <img class="img-responsive svg-responsive services"
                                 src="../images/service-hosting.svg"
                                 data-height="400" data-width="400"
                                 alt="Hosting & Operation">
                        </div>
                    </div>

                    <div class="col-md-6">
                        <h2>Hosting & Operation</h2>
                        <p>We offer a comprehensive service that host your software in our cloud-based
                            environment and enables a shortly to scale application.
                            Our servery are located in germany, this plays an important privacy role, so that your data are safe at all time.
                        </p>
                        <blockquote class="findeling">
                            Durch die professionelle Entwicklung von Niels konnten wir schneller mit unserer Idee
                            starten als wir planten.
                            <cite class="fschneider">Florian Schneider, Findeling GmbH</cite>
                        </blockquote>
                    </div>
                </div>
            </div>
        </section>



    {{/content}}

{{/extend}}
