---
title:          Services - rocketbase.io
description:    Rocketbase.io offers everything related to the development, operation and maintenance of software solutions. All from one hand!
keyword:        Design, Consulting, Development, Maintenance, Hosting, Operation, Hamburg
---
{{#extend "layout-en"}}

    {{#content "content"}}

        <header class="desk hidden-print">
            <p class="hidden">Working setup of rocketbase.io - Desk with laptop, external monitor
                Devices ...</p>
            <div class="container header-content">
                <div class="row text-center">
                    <div class="bottom-aligned">
                        <h1 class="section-heading"><span class="text-marked">Services</span></h1>
                        <p class="text-marked">Rocketbase.io offers everything related to the development, operation and maintenance of
                            software solutions. All from one hand!
                        </p>
                    </div>
                </div>
            </div>
        </header>

        <section id="services">
            <div class="container services">
                <div class="row vertical-line">
                    <div class="col-md-4 text-center">
                        <div class="box-circle bg-yellow">
                            <img class="img-responsive svg-responsive services"
                                 src="../images/service-consulting.svg"
                             data-height="400" data-width="400"
                             alt="Design & Consulting">
                        </div>
                    </div>

                    <div class="col-md-6">
                        <h2>Design & Consulting</h2>
                        <p>We listen to you and advise you for your project. You benefit from our huge experiences in many
                            areas around online activities .
                            We've worked alreay for many different industries from telecommunications to online gaming and
                            e-commerce. During the design and consulting-process this influences our recommendations and we like to share our experiences.
                            We offer expertise in the areas like development, UI and marketing. Thanks to our network, we can also extend our knowledge and manpower.
                        </p>

                        <p>Geschäftsprozesse sind unser täglich Brot und die Analyse und Optimierung Ihrer Abläufe fällt uns nicht
                            schwer. Firmen wie Bonprix und Schelbach Home haben wir
                            mit unserer Expertise optimal voran gebracht und deren Abläufe optimiert. Dabei haben wir komplexe Themen
                            wie die Printsteuerung großer Kataloge ebenso mühelos im Blick behalten wie langwierige
                            Exportprozesse ins Reich der Mitte.
                        </p>


                        <blockquote class="schelbachhome">
                            Niels hat uns sicher durch die Untiefen der Startup Zeit gelotst. Dadurch können wir jetzt unser
                            Geschäft beliebig skalieren.
                            <cite class="rschneider">Roman Schneider, schelbach home trading</cite>
                        </blockquote>

                        <!--
                        <blockquote class="hamburg-de">
                            Seitdem Niels unsere BI Lösung installiert hat, können wir unseren Vertrieb effizient
                            steuern und unseren Erfolg jederzeit messen.
                            <cite class="schusterius">Thomas Schusterius, hamburg.de</cite>
                        </blockquote>
                        -->
                    </div>
                </div>

                <div class="row vertical-line">
                    <div class="col-md-4 text-center">
                        <div class="box-circle bg-green">
                            <img class="img-responsive svg-responsive services"
                                 src="../images/service-development.svg"
                                 data-height="400" data-width="400"
                                 alt="Development & Maintenance">
                        </div>
                    </div>
                    <div class="col-md-6">
                        <h2>Development & Maintenance</h2>
                        <p>Ansprechende und effiziente Oberflächen sind Schlüsselfaktoren für den Erfolg moderner
                            Webanwendungen. Wir entwickeln für Sie nicht nur gute technische Lösungen, sondern gestalten auch
                            Oberflächen, die sowohl Einsteiger als auch Profibediener gleichermassen begeistern.
                            Durch aktuelle Technologien wie Vaadin und AngularJS zaubern wir Ihnen die passenden
                            Abläufe.
                        </p>


                        <p>Softwareentwicklung ist seit mehr als 15 Jahren unser Kerngeschäft. In dieser Zeit haben wir
                            sämtliche Strömungen in der Online-Welt miterlebt. Daher können wir für jeden Kunden massgeschneiderte
                            Produkte entwickeln. Selbstverständlich lassen wir Sie nach dem erfolgreichen Launch der Software nicht im
                            Stich, sondern entwickeln diese nach Ihren Vorgaben kontinuierlich weiter! Wir arbeiten nach dem
                            Continuous Deployment Prozess, der ermöglicht, dass eine Software jederzeit online gehen kann. Dies minimiert
                            durch automatische Tests den Aufwand für umfangreiches manuelles Testen. Unsere
                            Arbeitsweise entspricht der agilen Softwareentwicklung nach Methoden wie SCRUM und Kanban,
                            dadurch können wir sehr zeitnah auf Ihre Wünsche eingehen.
                        </p>



                        <blockquote class="bonprix">
                            Zusammen mit Marten haben wir eine grafische Sortiments-Visualisierung entwickelt.
                            Aufwendige Reports und Ausdrucke gehören jetzt der Vergangenheit an.
                            <cite class="globisch">Lars Globisch, bonprix Handelsgesellschaft mbH</cite>
                        </blockquote>

                    </div>
                </div>

                <div class="row">
                    <div class="col-md-4 text-center">
                        <div class="box-circle bg-blue">
                            <img class="img-responsive svg-responsive services"
                                 src="../images/service-hosting.svg"
                                 data-height="400" data-width="400"
                                 alt="Hosting & Operation">
                        </div>
                    </div>

                    <div class="col-md-6">
                        <h2>Hosting & Operation</h2>
                        <p>Wir bieten Ihnen eine rundum Betreuung und Hosten Ihre Software in einer cloud basierten
                            Umgebung, die es uns ermöglicht kurzfristig Ihre Applikationen zu skalieren. Dazu verfügen
                            wir über eine Reihe von eigenen Servern, die wir bei Bedarf mit Cloudinstanzen von Anbietern
                            wie Amazon und Digitalocean ergänzen können. Der Standort Deutschland spielt dabei eine
                            wichtige Rolle, so dass Ihre Daten jederzeit sicher sind.
                        </p>
                        <blockquote class="findeling">
                            Durch die professionelle Entwicklung von Niels konnten wir schneller mit unserer Idee
                            starten als wir planten.
                            <cite class="fschneider">Florian Schneider, Findeling GmbH</cite>
                        </blockquote>
                    </div>
                </div>
            </div>
        </section>



    {{/content}}

{{/extend}}
