---
title:          rocketbase.io software productions
description:    Impressum von rocketbase.io
keyword:        Consulting + Development in Hamburg, Java, Spring, Vaadin, AngularJs
---
{{#extend "layout"}}

    {{#content "content"}}
        <section class="bg-concrete" id="heading">
            <div class="container">
                <div class="row">
                    <div class="col-lg-8 col-lg-offset-2 text-center">
                        <h1 class="section-heading">Impressum</h1>
                    </div>
                </div>
            </div>
        </section>


        <section id="impressum">
            <div class="container">
                <div class="row">
                    <div class="col-lg-12">
                        <h2>Angaben gemäß § 5 TMG:</h2>
                        <p>rocketbase.io software productions UG (haftungsbeschränkt)<br>
                            Katharinenstraße 30a<br>
                            20457 Hamburg
                        </p>

                        <h3>Vertreten durch:</h3>
                        <p>Marten Prieß, Niels Schelbach</p>

                        <h3>Kontakt:</h3>
                        <table class="data">
                            <tr>
                                <td>Telefon:</td>
                                <td>040 307 757 71</td>
                            </tr>
                            <tr>
                                <td>Telefax:</td>
                                <td>040 608 623 18</td>
                            </tr>
                            <tr>
                                <td>E-Mail:</td>
                                <td><a href="mailto:info@rocketbase.io">info@rocketbase.io</a></td>
                            </tr>
                        </table>

                        <h3>Registereintrag:</h3>
                        <table class="data">
                            <tr>
                                <td>Registergericht:</td>
                                <td>Amtsgericht Hamburg</td>
                            </tr>
                            <tr>
                                <td>Registernummer:</td>
                                <td>HRB 134019</td>
                            </tr>
                            <tr>
                                <td>Umsatzsteuer-ID:</td>
                                <td>DE297486917</td>
                            </tr>
                        </table>
                </div>
                </div>
            </div>
        </section>

        <section id="disclaimer">
            <div class="container">
                <div class="row">
                    <div class="col-lg-12">
                        <h2>Haftungsausschluss (Disclaimer)</h2>
                        <p><strong>Haftung für Inhalte</strong></p>
                        <p>Als Diensteanbieter sind wir gemäß § 7 Abs.1 TMG für eigene Inhalte auf diesen Seiten nach
                            den allgemeinen Gesetzen verantwortlich. Nach §§ 8 bis 10 TMG sind wir als Diensteanbieter
                            jedoch nicht verpflichtet, übermittelte oder gespeicherte fremde Informationen zu überwachen
                            oder nach Umständen zu forschen, die auf eine rechtswidrige Tätigkeit hinweisen.
                            Verpflichtungen zur Entfernung oder Sperrung der Nutzung von Informationen nach den
                            allgemeinen Gesetzen bleiben hiervon unberührt. Eine diesbezügliche Haftung ist jedoch erst
                            ab dem Zeitpunkt der Kenntnis einer konkreten Rechtsverletzung möglich. Bei Bekanntwerden
                            von entsprechenden Rechtsverletzungen werden wir diese Inhalte umgehend entfernen.</p>
                        <p><strong>Haftung für Links</strong></p>
                        <p>Unser Angebot enthält Links zu externen Webseiten Dritter, auf deren Inhalte wir keinen
                            Einfluss haben. Deshalb können wir für diese fremden Inhalte auch keine Gewähr übernehmen.
                            Für die Inhalte der verlinkten Seiten ist stets der jeweilige Anbieter oder Betreiber der
                            Seiten verantwortlich. Die verlinkten Seiten wurden zum Zeitpunkt der Verlinkung auf
                            mögliche Rechtsverstöße überprüft. Rechtswidrige Inhalte waren zum Zeitpunkt der Verlinkung
                            nicht erkennbar. Eine permanente inhaltliche Kontrolle der verlinkten Seiten ist jedoch ohne
                            konkrete Anhaltspunkte einer Rechtsverletzung nicht zumutbar. Bei Bekanntwerden von
                            Rechtsverletzungen werden wir derartige Links umgehend entfernen.</p>
                        <p><strong>Urheberrecht</strong></p>
                        <p>Die durch die Seitenbetreiber erstellten Inhalte und Werke auf diesen Seiten unterliegen dem
                            deutschen Urheberrecht. Die Vervielfältigung, Bearbeitung, Verbreitung und jede Art der
                            Verwertung außerhalb der Grenzen des Urheberrechtes bedürfen der schriftlichen Zustimmung
                            des jeweiligen Autors bzw. Erstellers. Downloads und Kopien dieser Seite sind nur für den
                            privaten, nicht kommerziellen Gebrauch gestattet. Soweit die Inhalte auf dieser Seite nicht
                            vom Betreiber erstellt wurden, werden die Urheberrechte Dritter beachtet. Insbesondere
                            werden Inhalte Dritter als solche gekennzeichnet. Sollten Sie trotzdem auf eine
                            Urheberrechtsverletzung aufmerksam werden, bitten wir um einen entsprechenden Hinweis. Bei
                            Bekanntwerden von Rechtsverletzungen werden wir derartige Inhalte umgehend entfernen.</p>
                        <p> </p>

                    </div>
                </div>
            </div>
        </section>

    {{/content}}

{{/extend}}