---
title:          rocketbase.io software productions
description:    rocketbase.io software productions liefert Ihnen massgeschneiderte Lösungen
keyword:        Consulting + Development in Hamburg, Java, Spring, Vaadin, AngularJs

onepager:       true
---
{{#extend "layout"}}

    {{#content "content"}}
    <!-- Slider -->
    <div id="philosphie" class="fullSection">
        <div class="container">

            <!-- fullscreen-slider -->
            <div id="fullscreen-slider" class="carousel slide wow bounceIn showdelay4" data-ride="carousel">
                <!-- Wrapper for slides -->
                <div class="carousel-inner">
                    <div class="item active">
                        <div class="slider-caption">
                            <i class="fa fa-line-chart"></i>
                            <h2>Mit uns heben Sie ab!</h2>
                            <p>
                                Bei uns bekommen Sie alles aus einer Hand. Wir verfügen gemeinsam über mehr als 20 Jahre Erfahrung in <b>Konzeption</b>, <b>Entwicklung</b> und <b>Administration</b> von Webportalen. Wir können Ihnen maßgeschneiderte Lösungen bieten!
                            </p>
                            <div class="page-scroll">
                                <a href="#leistung" class="btn btn-custom btn-lg">Mehr Informationen</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- fullscreen-slider -->

        </div>

    </div>
    <!-- ./Slider -->

    <!-- Icon-box -->
    <div id="leistung" class="fullSection">
        <div class="container">

            <div class="section-heading">
                <h2>Leistungen</h2>
            </div>
            <div class="row">
                <div class="col-md-4 col-sm-4">
                    <div class="icon-box text-center wow fadeInLeft showdelay2">
                        <i class="fa fa-edit"></i>
                        <h3>Konzeption</h3>
                        <p>
                            Sie profitieren von unserer jahrelangen Erfahrung in der Konzeption
                            und Entwicklung von Webportalen mit Aspekten wie Registrierung,
                            Payment, Warenkörbe und vielem mehr. Wir finden die richtige Lösung
                            für Sie!
                        </p>
                    </div>
                </div>
                <div class="col-md-4 col-sm-4">
                    <div class="icon-box text-center wow fadeInUp showdelay2">
                        <i class="fa fa-rocket"></i>
                        <h3>Entwicklung</h3>
                        <p>
                            Durch bewährte Bausteine, die uns bereits einen Teil der Arbeit
                            abnehmen, können wir Ihnen faire Preise für Ihre individuelle
                            Software Lösung anbieten.
                        </p>
                    </div>
                </div>
                <div class="col-md-4 col-sm-4">
                    <div class="icon-box text-center wow fadeInRight showdelay2">
                        <i class="fa fa-cloud"></i>
                        <h3>Betrieb</h3>
                        <p>
                            Wir betreiben und überwachen Ihre Anwendung in ihrer eigenen
                            privaten Cloud für Sie, so dass Sie immer sicher sein können, dass
                            niemand an Ihre Daten herankommt.
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div id="technologie" class="fullSection">
        <div class="container">

            <div class="section-heading">
                <h2>Technologien</h2>
                <p>
                    Wir arbeiten mit folgenden Technologien und Bibliotheken.
                </p>
            </div>

            <div class="row">
                <div class="col-md-4 col-sm-4">
                    <div class="icon-box text-center wow fadeInLeft showdelay2">
                        <i class="fa fa-desktop"></i>
                        <h3>Frontend</h3>
                        <p>
                            Vaadin<br/>
                            AngularJS<br/>
                            SpringMVC<br/>
                        </p>
                    </div>
                </div>
                <div class="col-md-4 col-sm-4">
                    <div class="icon-box text-center wow fadeInUp showdelay2">
                        <i class="fa fa-gears"></i>
                        <h3>Middle Tier</h3>
                        <p>
                            Spring Framework<br/>
                            RestEasy<br/>
                            node.js</br>
                            SOAP<br/>
                        </p>
                    </div>
                </div>
                <div class="col-md-4 col-sm-4">
                    <div class="icon-box text-center wow fadeInRight showdelay2">
                        <i class="fa fa-database"></i>
                        <h3>Backend</h3>
                        <p>
                            Oracle<br/>
                            MySQL<br/>
                            Postgres<br/>
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- team -->
    <div id="team" class="fullSection">
        <div class="container">

            <div class="row">
                <div class="col-md-6 col-sm-6 wow fadeInUp showdelay2">
                    <div class="team-box">
                        <div class="team-image">
                            <img src="images/team1.jpg" class="img-circle" alt=""/>
                        </div>
                        <div class="team-info">
                            <h3>Niels Schelbach</h3>
                            <b>Gr&uuml;nder / Software Entwickler</b>
                            <p>
                                Niels ist Java Entwickler, seit der ersten Stunde. Seine Erfahrung reicht seit 1999
                                von Applets über die frühen Object-Mapping Frameworks wie Castro zu den modernsten
                                Technologien wie JPA, Spring und REST. Seine Laufbahn hat ihn als Führungskraft und
                                Freelancer in viele Branchen und Rollen gebracht, unter anderem als IT-Leiter
                                eines Online-Spiele-Publishers.
                            <ul>
                                <li>15 Jahre Javaentwicklung</li>
                                <li>5 Jahre Führungskraft</li>
                                <li>4 Jahre Freelancer</li>
                            </ul>

                            </p>
                            <ul class="team-social">
                                <li><a href="mailto:niels.schelbach@rocketbase.io"><i class="fa fa-envelope"></i></a></li>
                                <li><a href="https://www.xing.com/profile/Niels_Schelbach" target="_blank"><i class="fa fa-xing-square"></i></a></li>
                            </ul>
                        </div>
                    </div>
                </div>

                <div class="col-md-6 col-sm-6 wow fadeInUp showdelay2">
                    <div class="team-box">
                        <div class="team-image">
                            <img src="images/team2.jpg" class="img-circle" alt=""/>

                        </div>
                        <div class="team-info">
                            <h3>Marten Prieß</h3>
                            <b>Gr&uuml;nder / Software Entwickler</b>
                            <p>
                                Marten ist der kreative Kopf des Teams. In der Otto-Group (bonprix) hat er die Entwicklung von B2B- Systemen als IT-Architekt maßgeblich beeinflusst...
                                Seit 2015 ist er freiberuflericher IT Consultant + Entwickler. Sein Hauptfokus liegt auf dem Java basierten MVC-Framework Vaadin, aber auch AngularJS, jQuery, Less und HTML5 sind für ihn keine Fremdw&ouml;rter.
                            <ul>
                                <li>10 Jahre Handel Erfahrung</li>
                                <li>6 Jahre Javaentwicklung</li>
                            </ul>
                            </p>
                            <ul class="team-social">
                                <li><a href="mailto:marten.priess@rocketbase.io"><i class="fa fa-envelope"></i></a></li>
                                <li><a href="https://www.xing.com/profile/Marten_Priess" target="_blank"><i class="fa fa-xing-square"></i></a></li>
                            </ul>
                        </div>
                    </div>
                </div>

            </div>
            <!-- /row -->
        </div>

    </div>
    <!-- ./team -->

    <!-- contact -->
    <div id="contact" class="fullSection">
        <div class="container">

            <div class="section-heading">
                <h2>Kontakt</h2>
            </div>

            <div class="row">
                <!-- contact form -->
                <div class="col-md-6 col-sm-6">
                    <div class="contact-form  wow fadeInLeft showdelay2">
                        <form id="contactform" role="form">
                            <div class="name_contact form-group has-feedback">
                                <label class="control-label" for="name_contact">Name</label>
                                <input id="name_contact" type="text" class="form-control" required>
                            </div>
                            <div class="email_contact form-group has-feedback">
                                <label class="control-label" for="email_contact">Email</label>
                                <input id="email_contact" type="text" class="form-control">
                            </div>
                            <div class="message_contact form-group has-feedback">
                                <label class="control-label" for="message_contact">Nachricht</label>
                                <textarea id="message_contact" class="form-control" rows="7"></textarea>
                            </div>
                            <div class="pull-right">
                                <span class="form-validation-hint">ungültiges Formular</span>
                                <button type="submit" id="submitcontactform" class="btn btn-custom btn-lg">Abschicken</button>
                            </div>
                        </form>
                        <div class="clearfix"></div>
                    </div>
                    <div class="contact-form alert alert-success" role="alert"><i class="fa fa-envelope-o"></i> Email wurde versendet - vielen Dank!</div>
                </div>
                <!-- ./contact form -->

                <!-- address -->
                <div class="col-md-6 col-sm-6">
                    <div class="address  wow fadeInRight showdelay2">
                        <h3>Adresse</h3>
                        <ul class="unstyled">
                            <li><i class="fa fa-map-marker"></i>L&uuml;nkenberg 17, 22609 Hamburg</li>
                            <li><i class="fa fa-envelope"></i>team@rocketbase.io</li>
                            <li><i class="fa fa-phone"></i>+49 (0) 40 2281 6426</li>
                        </ul>
                    </div>
                </div>
                <!-- ./address -->

            </div>
        </div>
    </div>
    <!-- ./contact -->
    {{/content}}



    {{#content "customScript"}}
        <script>
            $(document).ready(function () {
                var formValidationHint = $('#contactform .form-validation-hint');
                var formSentAlert = $('.contact-form.alert');

                formValidationHint.hide();
                formSentAlert.hide();

                var emailReg = new RegExp(/^(("[\w-\s]+")|([\w-]+(?:\.[\w-]+)*)|("[\w-\s]+")([\w-]+(?:\.[\w-]+)*))(@((?:[\w-]+\.)*\w[\w-]{0,66})\.([a-z]{2,6}(?:\.[a-z]{2})?)$)|(@\[?((25[0-5]\.|2[0-4][0-9]\.|1[0-9]{2}\.|[0-9]{1,2}\.))((25[0-5]|2[0-4][0-9]|1[0-9]{2}|[0-9]{1,2})\.){2}(25[0-5]|2[0-4][0-9]|1[0-9]{2}|[0-9]{1,2})\]?$)/i);

                $('#contactform').submit(function (event) {
                    var name = $("#name_contact").val();
                    var email = $("#email_contact").val();
                    var message = $("#message_contact").val();

                    $('#contactform .name_contact.form-group').toggleClass('has-error', name == '');
                    $('#contactform .message_contact.form-group').toggleClass('has-error', message == '');
                    $('#contactform .email_contact.form-group').toggleClass('has-error', !emailReg.test(email));

                    if (name != '' || message != '' || emailReg.test(email)) {
                        $.post('http://service.non-rocket-science.com/contact/ef52eb4a8558d35b754f158f6e792b4c',
                                JSON.stringify({
                                "name" : name,
                                "email" : email,
                                "subject" : "Contact-Form rocketbase.io",
                                "message" : message
                            }),
                            function(result) {
                                if (!result.error) {
                                    console.log("mail was sent");

                                    $('#contactform').fadeOut();
                                    formSentAlert.show();
                                } else {
                                    console.error('got error response:', result);
                                    alert('got error please try later again or use your normal email-client ;)');
                                }
                            });


                    } else {
                        formValidationHint.show();
                    }
                    event.preventDefault();
                });
            });
        </script>
    {{/content}}

{{/extend}}