---
title:          Arbeiten bei rocketbase.io
description:    Wir sind auf der Suche nach Verstärkung! Wenn du Lust hast gemeinsam an spannenden Projekten zu arbeiten bist du bei uns genau richtig.
keyword:        Niels Schelbach, Marten Prieß, Jobs, Java, Spring, Vaadin, AngularJs
---
{{#extend "layout"}}

    {{#content "customHeader"}}
        <script src="js/modernizr-custom.js?v=1"></script>
        <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/ekko-lightbox/4.0.1/ekko-lightbox.min.css"/>
    {{/content}}

    {{#content "content"}}

        <section class="bg-concrete" id="heading">


            <div class="container">

                <div class="row">
                    <div class="text-center">
                        <h1 class="section-heading">Arbeiten bei rocketbase.io</h1>
                    </div>
                </div>
                <div id="mi-slider" class="mi-slider">
                    <ul>
                        <li><img src="images/job/office/office_entry_thumb.jpg" class="img-thumbnail clickable" data-remote="images/job/office/office_entry.jpg"
                                 alt="Büro-Eingang rocketbase.io"
                                 data-toggle="lightbox" data-gallery="office" data-title="Eingang"
                                 data-footer="Ein schönes lichtdurchflutetes Büro mit Blick in einen ruhigen Innenhof">
                            <h4>Eingang</h4>
                        </li>
                        <li><img src="images/job/office/office_board_thumb.jpg" class="img-thumbnail clickable" data-remote="images/job/office/office_board.jpg"
                                 alt="Ideenboard rocketbase.io"
                                 data-toggle="lightbox" data-gallery="office" data-title="Ideenboard"
                                 data-footer="Das Board hilft gemeinsame Ideen und Konzepte zu entwickeln">
                            <h4>Ideenboard</h4>
                        </li>
                        <li><img src="images/job/office/office_scrum_thumb.jpg" class="img-thumbnail clickable" data-remote="images/job/office/office_scrum.jpg"
                                 alt="Orgaboard rocketbase.io"
                                 data-toggle="lightbox" data-gallery="office" data-title="Orgaboard"
                                 data-footer="Um in der Hektikt des Alltags organisiert zu bleiben">
                            <h4>Orgaboard</h4>
                        </li>
                        <li><img src="images/job/office/scrumboard_thumb.jpg" class="img-thumbnail clickable" data-remote="images/job/office/scrumboard.jpg"
                                 alt="Scrumboard rocketbase.io"
                                 data-toggle="lightbox" data-gallery="office" data-title="Scrum/Kanban"
                                 data-footer="Unser schönes selbstgebautes Board im Detail">
                            <h4>Scrum/Kanban</h4>
                        </li>
                    </ul>
                    <ul>
                        <li><img src="images/job/technology/spring.png" class="img-thumbnail" alt="spring.io"><h4>Spring</h4></li>
                        <li><img src="images/job/technology/vaadin.png" class="img-thumbnail" alt="vaadin"><h4>Vaadin</h4></li>
                        <li><img src="images/job/technology/angular.png" class="img-thumbnail" alt="angular.io"><h4>Angular</h4></li>
                        <li><img src="images/job/technology/docker.png" class="img-thumbnail" alt="docker"><h4>Docker</h4></li>
                    </ul>
                    <ul>
                        <li><img src="images/job/people/niels.jpg" class="img-thumbnail" alt="Niels Schelbach"><h4>Niels</h4></li>
                        <li><img src="images/job/people/marten.jpg" class="img-thumbnail" alt="Marten Prieß"><h4>Marten</h4></li>
                        <li><img src="images/job/people/you.jpg" class="img-thumbnail" alt="You"><h4>you</h4></li>
                    </ul>
                    <nav>
                        <a href="#" class="mi-selected">Büro</a>
                        <a href="#">Technologien</a>
                        <a href="#">Das Team</a>
                    </nav>
                </div>
            </div>
        </section>

        <section id="work">
            <div class="container">
                <div class="col-sm-5">
                    <h2>Wir suchen nach Verstärkung</h2>
                    <p>Wenn du auf der Suche nach spannenden Webprojekten bist in denen du aktuelle Technologien wie Spring Boot, AngularJs oder Vaadin einsetzt
                        kannst, dann bist du bei uns genau richtig. Wir sind ein kleines schlagfähiges Team in denen jeder seine Stärken auspielen kann. Uns ist
                        es wichtig das alle mit Leidenschaft an den Projekten arbeiten.</p>
                    <p>In erster Linie möchten wir dir dauerhaft eine Perspektive bieten - Studenten oder Freiberufler sind aber ebenso willkommen. Für uns steht das gemeinsame Interesse an großartigen
                        Lösungen im Vordergrund. Gerne teilen wir unser Wissen und würden uns über Inspirationen von dir sehr freuen.</p>
                </div>
                <div class="col-sm-offset-1 col-sm-5">
                    <h2>Deine Aufgaben</h2>
                    <ul class="normal">
                        <li>Realisierung von REST-Endpoints mit Spring und Jersey</li>
                        <li>Umsetzung von Kundenspezifischen UI-Anforderungen in Vaadin oder AngularJs</li>
                        <li>Schreiben von Integrations- und Unit-Tests</li>
                        <li>Entwicklung von Apps mit Hilfe des Ionic-Frameworks</li>
                        <li>Gemeinsame Weiterentwicklung unserer eigenen Produktideen</li>
                    </ul>

                    <h2>Vorzüge von rocketbase</h2>
                    <ul class="normal">
                        <li>Arbeiten für namenhafte Kunden</li>
                        <li>Entwicklung eigener Produkte und Softwarelösungen</li>
                        <li>Helles und schönes Büro in zentraler Lage</li>
                        <li>Kostenlose Bahnkarte im HVV</li>
                    </ul>
                </div>
            </div>
        </section>


        <div id="contact-map"></div>

        <section id="contact" class="bg-dark">
            <div class="container">
                <div class="row">
                    <div class="col-md-8 col-md-offset-2 text-center">
                        <h2 class="section-heading">Interesse geweckt?</h2>
                        <hr class="primary">
                        <p>Dann ruf uns gerne an oder schreib uns.<br>
                            Gerne wollen wir dich kennenlernen!</p>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-3 col-xs-6 col-sm-offset-3 text-center">
                        <i class="fa fa-phone fa-3x wow bounceIn" style="visibility: visible; animation-name: bounceIn;"></i>
                        <p>040 605 3388 40</p>
                    </div>
                    <div class="col-sm-3 col-xs-6 text-center">
                        <i class="fa fa-envelope-o fa-3x wow bounceIn" data-wow-delay=".1s"
                           style="visibility: visible; animation-delay: 0.1s; animation-name: bounceIn;"></i>
                        <p><a href="mailto:info@rocketbase.io">info@rocketbase.io</a></p>
                    </div>
                </div>
            </div>
        </section>


    {{/content}}

    {{#content "contact"}}{{/content}}

    {{#content "customScript"}}
        <script src="https://cdnjs.cloudflare.com/ajax/libs/ekko-lightbox/4.0.1/ekko-lightbox.min.js"></script>
        <script>
            $(function () {
                $('#mi-slider')
                        .catslider();
            });
            $(document)
                    .delegate('*[data-toggle="lightbox"]', 'click', function (event) {
                        event.preventDefault();
                        $(this)
                                .ekkoLightbox();
                    });
        </script>


        <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDBusxGfZDRxvUyZvih_jJQgQtriVegYUY" type="text/javascript"></script>
        <script>
            var mapStyle = [{"featureType":"administrative","elementType":"labels.text","stylers":[{"visibility":"off"}]},{"featureType":"administrative","elementType":"labels.text.fill","stylers":[{"color":"#444444"}]},{"featureType":"landscape","elementType":"all","stylers":[{"color":"#f2f2f2"}]},{"featureType":"poi","elementType":"all","stylers":[{"visibility":"off"}]},{"featureType":"road","elementType":"all","stylers":[{"saturation":-100},{"lightness":45}]},{"featureType":"road.highway","elementType":"all","stylers":[{"visibility":"simplified"}]},{"featureType":"road.highway","elementType":"labels","stylers":[{"visibility":"off"}]},{"featureType":"road.arterial","elementType":"labels.icon","stylers":[{"visibility":"off"}]},{"featureType":"transit","elementType":"all","stylers":[{"visibility":"off"}]},{"featureType":"water","elementType":"all","stylers":[{"color":"#46bcec"},{"visibility":"on"}]},{"featureType":"water","elementType":"geometry.fill","stylers":[{"weight":"4.01"}]},{"featureType":"water","elementType":"labels.icon","stylers":[{"visibility":"on"}]}];

            var cmyLatlng = new google.maps.LatLng(53.545804, 9.992615);
            var cmapOptions = {
                zoom: 15,
                scrollwheel: false,
                navigationControl: false,
                mapTypeControl: false,
                scaleControl: false,
                draggable: false,
                center: new google.maps.LatLng(53.547450, 9.992615),
                styles: mapStyle
            };
            var cmap = new google.maps.Map(document.getElementById('contact-map'), cmapOptions);

            var marker = new google.maps.Marker({
                position: cmyLatlng,
                map: cmap
            });

            var infoWindow = new google.maps.InfoWindow({
                content: '<div style=\'text-align: center\'><img style=\'height: 40px; width: 40px;\' src=\'http://www.rocketbase.io/images/rocketbase-logo.png\'><br><b>rocketbase.io</b><br>Katharinenstraße 30a</div>'
            });
            infoWindow.open(cmap, marker);


        </script>
    {{/content}}

{{/extend}}