---
title:          rocketbase.io - Wir verleihen Ideen Flügel!
description:    Moin, moin. Wir sind ein junges, dynamisches Unternehmen aus Hamburg mit umfangreicher Erfahrung und Knowhow im Bereich der Webentwicklung. Wir freuen uns auf Ihr Projekt!
keyword:        Consulting + Development in Hamburg, Java, Spring, Vaadin, AngularJs
---
{{#extend "layout"}}

    {{#content "content"}}
        <section class="bg-concrete" id="heading">
            <div class="container">
                <div class="row">
                    <div class="col-lg-8 col-lg-offset-2 text-center">
                        <h1 class="section-heading">Unsere Philosophie</h1>
                        <p class="lead">Wir verleihen Ideen Flügel!</p>
                        <img src="images/rocketbase-progress.png" class="img-responsive img-center">
                    </div>
                </div>
            </div>
        </section>

        <section id="arbeitsweise">
            <div class="container">
                <div class="row">
                    <div class="col-sm-10 col-sm-offset-1">
                        <h2 class="section-heading text-center">Unsere Arbeitsweise</h2>
                        <hr class="primary">
                        <p class="text-faded">Wir arbeiten nach dem Prinzip der agilen Softwareentwicklung. Bei uns
                            finden Methoden wie Kanban und SCRUM Anwendung, was für unsere Kunden eine enge Einbeziehung in den Entwicklungsprozess bedeutet,
                            in dem jederzeit Einblick in den aktuellen Stand genommen werden kann.
                        </p>
                        <p>Kern unserer Vorgehensweise sind kurze Iterationsschritte, dadurch haben unsere Kunden
                            jederzeit die Möglichkeit Anpassungen vorzunehmen und ihr Produkt mitzugestalten.
                        </p>
                        <p>Unsere Software wird von Anfang an mit automatisierten Tests geschrieben, so können Sie
                            sicher sein, dass Ihr Produkt ausgereift ist und jederzeit ans Netz gehen kann. Wir
                            verfügen über eine Continous-Deployment Infrastruktur, wodurch jede Anpassung sofort in unserer Testumgebung sichtbar wird.
                        </p>
                        <p>
                            Wir verfügen über eine Reihe von ausgereiften Bausteinen, die Funktionen wie Benutzerverwaltung, mobile Bezahlung und
                            Assetmanagement abdecken und können dadurch Prototypen innerhalb kürzester Zeit bauen. Vor allem für junge Startups ist dies ein unschätzbarer Vorteil,
                            der Entscheider und Investoren von Ihrer Produktidee überzeugen kann.
                        </p>
                    </div>
                </div>
            </div>
        </section>

        <section id="zielgruppe" class="bg-gray">
            <div class="container">
                <div class="row">
                    <div class="col-sm-10 col-sm-offset-1">
                        <h2 class="section-heading text-center">Schwerpunkt</h2>
                        <hr class="primary">
                        <p class="text-faded">
                            Unser Schwerpunkt ist die Webentwicklung, egal ob im Mobile, Browser oder Desktop Bereich.
                            25 Jahre Erfahrung in der Entwicklung von Portalsystemen und Backofficesystemen geben uns
                            den nötigen Weitblick. Wir kümmern uns um Themen wie E-Commerce, Payment, Assets oder
                            Socialnetwork. Durch unsere Tätigkeiten hatten wir Berührungspunkte mit diversen Bereichen
                            wie Marketing, Vertrieb und Controlling, sowohl in großen Unternehmen als auch in Startups.
                        </p>
                        <p>
                            Kooperationen reichen für uns von reinen Auftragsarbeiten bis hin zu Lizenzierungen oder Beteiligungen.
                        </p>
                    </div>
                </div>
            </div>
        </section>

    {{/content}}



    {{#content "customScript"}}
        <script>
            (function (Vivus) {
                new Vivus('idea', {type: 'scenario-sync', duration: 40, forceRender: false, start: 'autostart'});
            })(Vivus);
        </script>
    {{/content}}

{{/extend}}