---
title:          Services
description:    rocketbase.io bietet alles Rund um die Entwicklung, Betrieb und Wartung von Softwarelösungen an. Alles aus einer Hand - aus Hamburg!
keyword:        Konzeption, Beratung, Entwicklung, Wartung, Hosting, Betrieb, Hamburg
---
{{#extend "layout"}}

    {{#content "content"}}

        <header class="desk hidden-print">
            <p class="hidden">Working-Setup von rocketbase.io - Schreibtisch mit Laptop, externem Monitor und
                Devices...</p>
            <div class="container header-content">
                <div class="row text-center">
                    <div class="bottom-aligned">
                        <h1 class="section-heading"><span class="text-marked">Services</span></h1>
                        <p class="text-marked">Rocketbase.io bietet alles Rund um die Entwicklung, Betrieb und Wartung
                            von Softwarelösungen
                            an.
                            Alles aus einer Hand!</p>
                    </div>
                </div>
            </div>
        </header>

        <section id="services">
            <div class="container services">
                <div class="row vertical-line">
                    <div class="col-md-4 text-center">
                        <div class="box-circle bg-yellow">
                            <img class="img-responsive svg-responsive services"
                                 src="images/service-consulting.svg"
                             data-height="400" data-width="400"
                             alt="Konzeption & Beratung">
                        </div>
                    </div>

                    <div class="col-md-6">
                        <h2>Konzeption & Beratung</h2>
                        <p>Wir hören Ihnen zu und beraten Sie für Ihr Vorhaben. Unsere Lebenserfahrung aus vielen
                            Bereichen rund um Online Aktivitäten nützt Ihnen bei der Umsetzung Ihrer Ideen.
                            Vielfältige Branchen angefangen von Telekommunikation über Online Gaming bis hin zu
                            E-Commerce im grossen Stil sind uns geläufig. Wir bieten Ihnen Expertise in den Bereichen
                            Entwicklung, UI und Marketing. Dank unseres Netzwerkes sind wir auch bei Randthemen immer im
                            Bilde.
                        </p>

                        <p>Geschäftsprozesse sind unser tägliches Brot und die Analyse und Optimierung Ihrer Prozesse
                            fällt uns nicht schwer. So konnten wir bereits Firmen wie Bonprix und Schelbach Home optimal
                            mit unserer Expertise voran bringen und Abläufe optimieren. Dabei haben wir komplexe Themen
                            wie die Printsteuerung großer Kataloge ebenso mühelos im Blick behalten wie langwierige
                            Export Prozesse ins Reich der Mitte.
                        </p>

                        <!--
                        <blockquote>
                            Niels hat uns sicher durch die Untiefen unseres Geschäftes gelotst. Dadurch können wir unser
                            Geschäft beliebig skalieren.
                            <cite>Roman Schneider, schelbach home trading</cite>
                        </blockquote>

                        <blockquote>
                            Seitdem Niels unsere BI Lösung installiert hat, können wir unseren Vertrieb effizient
                            steuern und unseren Erfolg jederzeit messen.
                            <cite>Thomas Schusterius, hamburg.de</cite>
                        </blockquote>
                        -->
                    </div>
                </div>

                <div class="row vertical-line">
                    <div class="col-md-4 text-center">
                        <div class="box-circle bg-green">
                            <img class="img-responsive svg-responsive services"
                                 src="images/service-development.svg"
                                 data-height="400" data-width="400"
                                 alt="Entwicklung & Wartung">
                        </div>
                    </div>
                    <div class="col-md-6">
                        <h2>Entwicklung & Wartung</h2>
                        <p>Ansprechende und effiziente Oberflächen sind Schlüsselfaktoren für den Erfolg moderne
                            Webanwendungen. Wir bauen nicht nur gute technische Lösungen, sondern auch gut gestaltete
                            Oberflächen dazu, die sowohl Einsteiger als auch Profibediener gleichermassen begeistern.
                            Durch aktuelle Technologien wie Vaadin und AngularJS zaubern wir Ihnen die passenden
                            Abläufe.
                        </p>
                        <p>Softwareentwicklung ist seit mehr als 15 Jahren unser Kerngeschäft. In dieser Zeit haben wir
                            sämtliche Strömungen in der Online-Welt miterlebt. Wir können Ihnen massgeschneiderte
                            Produkte entwickeln. Wir lassen Sie auch nach dem erfolgreichen Launch der Software nicht im
                            Stich und entwickeln diese nach Ihren Vorgaben kontinuierlich weiter! Wir arbeiten nach dem
                            Continuous Deployment Prozess, der dafür sorgt dass Software jederzeit online gehen kann und
                            den Aufwand für umfangreiches manuelles Testen durch automatische Tests minimiert. Unsere
                            Arbeitsweise entspricht der agilen Softwareentwicklung nach Methoden wie SCRUM und Kanban,
                            dadurch können wir sehr zeitnah auf Ihre Wünsche eingehen.
                        </p>

                        <!--
                        <blockquote>
                            Die mit Vaadin entwickelten Oberflächen von Marten steuern unsere Prozesse optimal. Bei uns
                            zählt jeder Mausklick daher müssen unsere Software so effizient wie möglich sein.
                            <cite>Lars Globisch, bonprix Handelsgesellschaft mbH</cite>
                        </blockquote>

                        <blockquote>
                            Durch die professionelle Entwicklung von Niels konnten wir schneller mit unserer Idee
                            starten als wir planten.
                            <cite>Florian Schneider, findeling</cite>
                        </blockquote>
                        -->
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-4 text-center">
                        <div class="box-circle bg-blue">
                            <img class="img-responsive svg-responsive services"
                                 src="images/service-hosting.svg"
                                 data-height="400" data-width="400"
                                 alt="Hosting & Betrieb">
                        </div>
                    </div>

                    <div class="col-md-6">
                        <h2>Hosting & Betrieb</h2>
                        <p>Wir bieten Ihnen eine Rundum Betreuung und Hosten Ihre Software in einer cloud basierten
                            Umgebung, die es uns ermöglicht kurzfristig Ihre Applikationen zu skalieren. Dazu verfügen
                            wir über eine Reihe von eigenen Servern, die wir bei Bedarf mit Cloudinstanzen von Anbietern
                            wie Amazon und Digitalocean ergänzen können. Der Standort Deutschland spielt dabei ein
                            wichtige Rolle, so dass Sie Ihre Daten jederzeit sicher sind.
                        </p>
                    </div>
                </div>
            </div>
        </section>



    {{/content}}

{{/extend}}