---
title:          rocketbase.io software productions
description:    Impressum von rocketbase.io
keyword:        Consulting + Development in Hamburg, Java, Spring, Vaadin, AngularJs
---
{{#extend "layout"}}

    {{#content "content"}}

        <header class="desk hidden-print">

        </header>

        <section id="heading" class="bg-dark">
            <div class="container text-center">
                <h1 class="section-heading">Services</h1>
                <p>Rocketbase.io bietet alles Rund um die Entwicklung, Betrieb und Wartung von Softwarelösungen an.
                    Alles aus einer Hand!</p>
            </div>
        </section>

        <section id="consulting" class="bg-yellow">
            <div class="container">
                <div class="row">
                    <div class="col-md-6 text-center  hidden-print">
                        <img class="img-responsive services" src="images/service-consulting.svg"
                             alt="Konzeption & Beratung">
                    </div>
                    <div class="col-md-6">
                        <h2>Konzeption & Beratung</h2>
                        <ul>
                            <li>bla blub ...</li>
                        </ul>
                    </div>
                </div>
            </div>
        </section>

        <section id="development" class="bg-green">
            <div class="container">
                <div class="row">
                    <div class="col-md-6">
                        <h2>Entwicklung & Wartung</h2>
                        <ul>
                            <li>bla blub ...</li>
                        </ul>
                    </div>
                    <div class="col-md-6 text-center hidden-print">
                        <img src="images/service-development.svg" alt="Entwicklung & Wartung">
                    </div>
                </div>
            </div>
        </section>

        <section id="hosting" class="bg-blue">
            <div class="container">
                <div class="row">
                    <div class="col-md-6 text-center hidden-print">
                        <img class="img-responsive services" src="images/service-hosting.svg" alt="Hosting & Betrieb">
                    </div>
                    <div class="col-md-6">
                        <h2>Hosting & Betrieb</h2>
                        <ul>
                            <li>bla blub ...</li>
                        </ul>
                    </div>
                </div>
            </div>
        </section>

    {{/content}}

{{/extend}}