---
title:          Services
description:    rocketbase.io bietet alles Rund um die Entwicklung, Betrieb und Wartung von Softwarelösungen an. Alles aus einer Hand - aus Hamburg!
keyword:        Konzeption, Beratung, Entwicklung, Wartung, Hosting, Betrieb, Hamburg
---
{{#extend "layout"}}

    {{#content "content"}}

        <header class="desk hidden-print">
            <p class="hidden">Working-Setup von rocketbase.io - Schreibtisch mit Laptop, externem Monitor und
                Devices...</p>
            <div class="container header-content">
                <div class="row text-center">
                    <div class="bottom-aligned">
                        <h1 class="section-heading"><span class="text-marked">Services</span></h1>
                        <p class="text-marked">Rocketbase.io bietet alles Rund um die Entwicklung, Betrieb und Wartung
                            von Softwarelösungen
                            an.
                            Alles aus einer Hand!</p>
                    </div>
                </div>
            </div>
        </header>

        <section id="services-overview">
            <div class="container">
                <div class="row">
                    <div class="col-md-4 text-center">
                        <h2>Konzeption & Beratung</h2>
                        <div class="box-circle bg-yellow">
                            <img class="img-responsive svg-responsive services"
                                 src="images/service-consulting.svg"
                             data-height="400" data-width="400"
                             alt="Konzeption & Beratung">
                        </div>
                    </div>

                    <div class="col-md-4 text-center">
                        <h2>Entwicklung & Wartung</h2>
                        <div class="box-circle bg-green">
                            <img class="img-responsive svg-responsive services"
                                 src="images/service-development.svg"
                                 data-height="400" data-width="400"
                                 alt="Entwicklung & Wartung">
                        </div>
                    </div>


                    <div class="col-md-4 text-center">
                        <h2>Hosting & Betrieb</h2>
                        <div class="box-circle bg-blue">
                            <img class="img-responsive svg-responsive services"
                                 src="images/service-hosting.svg"
                                 data-height="400" data-width="400"
                                 alt="Hosting & Betrieb">
                        </div>
                    </div>
                </div>
            </div>
        </section>

        <section id="services-detail">
            <div class="container">
                <div class="row">
                    <div class="col-md-8 col-md-offset-2">
                        <blockquote>
                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer posuere erat a ante.</p>
                        </blockquote>
                    </div>
                </div>
            </div>
        </section>



    {{/content}}

{{/extend}}