---
title:          Services
description:    rocketbase.io bietet alles Rund um die Entwicklung, Betrieb und Wartung von Softwarelösungen an. Alles aus einer Hand - aus Hamburg!
keyword:        Konzeption, Beratung, Entwicklung, Wartung, Hosting, Betrieb, Hamburg
---
{{#extend "layout"}}

    {{#content "content"}}

        <header class="desk hidden-print">
            <p class="hidden">Working-Setup von rocketbase.io - Schreibtisch mit Laptop, externem Monitor und
                Devices...</p>
        </header>

        <section id="heading" class="bg-dark">
            <div class="container text-center">
                <img class="rocketbase-logo img-responsive hidden-print" src="images/rocketbase-white.svg"
                     alt="rocketbase.io Logo">
                <h1 class="section-heading">Services</h1>
                <p>Rocketbase.io bietet alles Rund um die Entwicklung, Betrieb und Wartung von Softwarelösungen an.
                    Alles aus einer Hand!</p>
            </div>
        </section>

        <section id="consulting" class="bg-yellow">
            <div class="container">
                <div class="row">
                    <div class="col-md-6 text-center  hidden-print">
                        <img class="img-responsive services" src="images/service-consulting.svg"
                             alt="Konzeption & Beratung">
                    </div>
                    <div class="col-md-6">
                        <h2>Konzeption & Beratung</h2>
                        <ul>
                            <li>Wir unterstützen in jeglicher Phase ihres Projektes!</li>
                            <li>Analyse von Geschäftprozessen zur bestmöglichen Anpassung der Anwendung auf Ihre
                                Anforderungen
                            </li>
                            <li>Konzeption von Bildschirm-Layouts (Mockups)</li>
                            <li>Erneuerung/Ablösung von Altsystemen - Refactoring.</li>
                            <li>Durch unsere Arbeiten als Freelancer haben wir ein breites Spektrum unterschiedlichster
                                Fameworks und Tools verwendet und können umfassend Entscheidungshilfen Entwicklerteams
                                geben.
                            </li>
                            <li>Beratung in der Umsetzung von Continous-Development, Continous-Integration und
                                -Deployment Prozessen in der Entwicklung
                            </li>
                            <li>Schulung in Frameworks wie z.B. Vaadin</li>
                        </ul>
                    </div>
                </div>
            </div>
        </section>

        <section id="development" class="bg-green">
            <div class="container">
                <div class="row">
                    <div class="col-md-6">
                        <h2>Entwicklung & Wartung</h2>
                        <ul>
                            <li>Durch unser umfangreiches Knowhow rund um den gesamten Entwicklungsprozess können wir
                                umfassend Unterstützen.
                            </li>
                            <li>Neuentwicklung von Softwareprojekten im Bereich Web, Mobile & Desktop.</li>
                            <li>Analyse von Altsystemen mit anschließendem Refacotring zur Sicherstellung eines
                                zukunftssicheren und reibungslosen Betrieb.
                            </li>
                            <li>Pflege und Wartung von entwickelten Softwarelösungen mit schneller Reaktionszeit.</li>
                            <li>Konzeption und Erstellung von neuen UI-Komponenten (Vaadin, AngularJs, GWT, jQuery)</li>
                            <li>Anpassung Oberflächen auf das Firmen-Branding - Themeing.</li>
                            <li>Beratung und Entwicklung in der Realisierung von Testroutinen für fehlerarme
                                Anwendungen (Junit, Jasmine, Selenium...)
                            </li>
                        </ul>
                    </div>
                    <div class="col-md-6 text-center hidden-print">
                        <img class="img-responsive services" src="images/service-development.svg"
                             alt="Entwicklung & Wartung">
                    </div>
                </div>
            </div>
        </section>

        <section id="hosting" class="bg-blue">
            <div class="container">
                <div class="row">
                    <div class="col-md-6 text-center hidden-print">
                        <img class="img-responsive services" src="images/service-hosting.svg" alt="Hosting & Betrieb">
                    </div>
                    <div class="col-md-6">
                        <h2>Hosting & Betrieb</h2>
                        <ul>
                            <li>Auf unser eignen Infrastruktur können wir sicher und kostenoptimiert geschäftskritische
                                Applikationen betreiben.
                            </li>
                            <li>Durch langjährige Erfahrung im Betrieb von Softwareprodukten wissen wir uns die Risiken
                                und ihre Wünsche.
                            </li>
                            <li>Dedundant ausgelegte Server und regelmäßige Backups Ihrer Daten stellen die Grundlage
                                dar.
                            </li>
                            <li>Gerne beraten wir auch Firmen in diesem Bereich</li>
                            <li>Obgleich der Betrieb mit Docker und co. wir teilen gerne unsere Erfahrungen.</li>
                        </ul>
                    </div>
                </div>
            </div>
        </section>

    {{/content}}

{{/extend}}